# Ignore build output
bin/
obj/

# Ignore user-specific files
*.user
*.vspscc
*.vssscc
.vs/
*.suo
*.userosscache
*.sln.docstates

# Ignore Git files
.git/
.gitignore

# Ignore system files
*.DS_Store
Thumbs.db

# Ignore logs and temp
*.log
*.tmp
